input[type=text],
input[type=number],
input[type=date],
input[type=file] {
    padding: 10px 15px 13px;
    margin: 8px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    min-width: 280px;

}

.submit-button {
    padding: 12px 20px;
    margin: 15px 87px;
    background-color: rgb(58, 58, 58);
    border: none;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.forms {
    padding-top: 7%;
    padding-left: 41%;
}